@import "../../defines.scss";
@import "../common.scss";

.aj-btn {
  &--primary {
    --btn-text-clr: var(--text-clr-inverted);
    --btn-bg-clr: var(--clr-primary);
    --btn-hover-text-clr: var(--text-clr-inverted);
    --btn-hover-bg-clr: var(--clr-primary2);
    --btn-border: none;
    @extend .aj-btn;
  }

  &--secondary {
    --btn-text-clr: var(--text-clr-alt);
    --btn-bg-clr: var(--clr-secondary);
    --btn-hover-text-clr: var(--text-clr);
    --btn-hover-bg-clr: var(--clr-secondary2);
    --btn-border: var(--border);
    @extend .aj-btn;
  }

  &--error {
    --btn-text-clr: var(--text-clr-inverted);
    --btn-bg-clr: var(--clr-error);
    --btn-hover-text-clr: var(--text-clr-inverted);
    --btn-hover-bg-clr: var(--clr-error2);
    --btn-border: none;
    @extend .aj-btn;
  }

  &--success {
    --btn-text-clr: var(--text-clr-inverted);
    --btn-bg-clr: var(--clr-success);
    --btn-hover-text-clr: var(--text-clr-inverted);
    --btn-hover-bg-clr: var(--clr-success2);
    --btn-border: none;
    @extend .aj-btn;
  }

  &--inverted {
    --btn-text-clr: var(--text-clr);
    --btn-bg-clr: var(--white);
    --btn-hover-text-clr: var(--text-clr);
    --btn-hover-bg-clr: var(--clr-primary-2);
    --btn-border: none;
    @extend .aj-btn;
  }
}
