@use "../../mixins.scss";

.aje-label {
  display: block;
  padding-bottom: 5px;
  @include mixins.bold;
  font-size: 1.3rem;
  line-height: 1.1;
  color: var(--text-clr);

  &--message,
  &--error {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }

  &--message {
    margin: 2px 0 0;
    @include mixins.regular;
    color: var(--text-clr-alt);
  }

  &--error {
    margin: 3px 0 0;
    @include mixins.bold;
    color: var(--error700);
  }
}
