@import "../defines.scss";

.aj-btn {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1.6em;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  @include bold;

  &--primary {
    @extend .aj-btn;
    color: $text-inverted;
    background-color: $clr-primary;
  }

  &--secondary {
    @extend .aj-btn;
    color: $text;
    background-color: $clr-secondary;
  }
}
