@use "../../mixins";

.aje-three-dot-loader {
  --loader-clr: var(--neutral500);
  --loader-size: 20px;

  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: var(--loader-size);

  .dots-container {
    display: flex;
    align-items: center;
    font-size: inherit;
    gap: 0.25em;
  }

  .dot {
    --animation-duration: 500ms;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--loader-clr);
    transform: translateY(-25%);
    animation-name: bob;
    animation-duration: var(--animation-duration);
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &1,
    &2,
    &3 {
      @extend .dot;
    }

    &1 {
      animation-delay: 0;
    }
    &2 {
      animation-delay: calc(var(--animation-duration) * 0.5);
    }
    &3 {
      animation-delay: calc(var(--animation-duration) * 1);
    }

    @keyframes bob {
      from {
        transform: translateY(-25%);
      }
      to {
        transform: translateY(25%);
      }
    }
  }

  i {
    position: relative;
    top: -0.125em;
    width: 0.5em;
    height: 1em;
    border-bottom: 0.2em solid var(--loader-clr);
    border-right: 0.2em solid var(--loader-clr);
    transform: rotate(45deg) scale(0);
    animation: check 300ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }

  @keyframes check {
    0% {
      opacity: 0;
      transform: rotate(90deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }
}
