@use "../../mixins";

.aje-checkbox {
  --unchecked: var(--neutral600);
  --checked: var(--primary700);

  input[type="checkbox"] + .aje-checkbox__label:before {
    border-radius: 5px;
  }

  input[type="checkbox"]:checked ~ .aje-checkbox__label {
    &:before {
      background-color: var(--checked);
      border-color: var(--checked);
    }
    &:after {
      display: block;
      top: 5px;
      left: 9px;
      width: 4px;
      height: 9px;
      border: solid var(--neutral50);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  //Disabled states
  input[type="checkbox"]:disabled ~ .aje-checkbox__label,
  input[type="checkbox"]:checked:disabled ~ .aje-checkbox__label:before {
    cursor: auto;
    opacity: 0.5;
  }
}
