@import "../../defines.scss";

.aj-checkbox,
.aj-radio {
  --unchecked: var(--gray7);
  --checked: var(--clr-primary);

  input[type="checkbox"] + .aj-checkbox__label:before {
    border-radius: 5px;
  }

  input[type="checkbox"]:checked ~ .aj-checkbox__label {
    &:before {
      background-color: var(--checked);
      border-color: var(--checked);
    }
    &:after {
      display: block;
      top: 5px;
      left: 9px;
      width: 4px;
      height: 9px;
      border: solid var(--white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  //Disabled states
  input[type="checkbox"]:disabled ~ .aj-checkbox__label,
  input[type="checkbox"]:checked:disabled ~ .aj-checkbox__label:before {
    cursor: auto;
    opacity: 0.5;
  }
}
