@import "../../defines.scss";
@import "../common.scss";

.aj-banner {
  &--warning {
    --banner-bg-clr: var(--warning100);
    --banner-text-clr: var(--text-clr);
    --banner-icon-clr: var(--warning600);
    --banner-btn-hover-clr: var(--warning200);
    --banner-btn-active-clr: var(--warning300);
    @extend .aj-banner;
  }
}
