@use "../../mixins";

.aje-input {
  select {
    --input-width-sm: 120px;
    --input-width-md: 240px;
    --input-width-lg: 360px;

    border: 1px solid var(--input-border-clr);
    background-color: var(--neutral50);
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
    padding: 10px 40px 10px 12px;
    @include mixins.regular;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--text-clr);
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: var(--outline-clr-primary);
      outline: var(--input-outline);
    }
  }

  &__select {
    position: relative;
    display: inline-block;

    &::after {
      content: "\E5C5";
      font-family: "Material Icons";
      position: absolute;
      right: 8px;
      bottom: 8px;
      font-size: 2.4rem;
      line-height: 1;
      color: var(--neutral600);
      pointer-events: none;
    }
  }
}
