@import "../../defines.scss";

.aj-radio {
  --unchecked: var(--neutral600);
  --checked: var(--primary700);

  input[type="radio"] + .aj-checkbox__label:before {
    border-radius: 50%;
  }

  input[type="radio"]:checked ~ .aj-checkbox__label {
    &:before {
      border-color: var(--checked);
    }
    &:after {
      display: block;
      top: 7px;
      left: 7px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--checked);
    }
  }

  //Disabled states
  input[type="radio"]:disabled ~ .aj-checkbox__label:after,
  input[type="radio"]:checked:disabled ~ .aj-checkbox__label {
    cursor: auto;
    opacity: 0.5;
  }
}
