html {
  font-size: 10px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

:focus:not(:focus-visible) {
  outline: none;
}

.padder {
  padding-top: 1.5rem;
}

.aje-tip {
  .aje-popover {
    --popover-animation: opacity 200ms ease;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
  }

  &:hover {
    .aje-popover {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
