html {
  font-size: 10px;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

:focus:not(:focus-visible) {
  outline: none;
}

.padder {
  padding-top: 15rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.scroll {
  height: 400px;
  overflow: scroll;
  width: 400px;
  margin: auto;
}

.content {
  height: 800px;
  width: 800px;
}

.wrapper {
  padding: 100px;
}
