@import "../../defines.scss";

.aj-dropdown {
  .aj-combobox {
    &__input {
      position: relative;
      border: 1px solid var(--input-border-clr);
      border-radius: 5px;
      min-height: 40px;
      padding: 8px 40px 8px 12px;
      @include regular;
      color: var(--text-clr);
      font-size: 1.6rem;
      display: inline-block;
      width: 100%;
      max-width: var(--combobox-width, auto);

      &::after {
        content: "\E5C5";
        font-family: "Material Icons";
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 2.4rem;
        line-height: 1;
        color: var(--gray7);
        pointer-events: none;
      }
    }
  }

  &.is-small {
    --combobox-width: 100px;
  }
  &.is-medium {
    --combobox-width: 200px;
  }
  &.is-large {
    --combobox-width: 300px;
  }
  &.is-full {
    --combobox-width: 100%;
  }
  &.is-auto {
    --combobox-width: none;
    .aj-combobox__input {
      width: auto;
    }
  }

  &.has-error {
    .aj-combobox__input {
      border-color: var(--clr-error);

      &:focus {
        outline-color: var(--clr-error);
      }
    }
  }

  &.is-disabled {
    opacity: 0.5;
  }
}
