:root {
  color-scheme: base;

  --neutral50: hsl(0, 0%, 100%);
  --neutral100: hsl(220, 14%, 96%);
  --neutral200: hsl(220, 13%, 91%);
  --neutral300: hsl(216, 12%, 84%);
  --neutral400: hsl(218, 11%, 66%);
  --neutral500: hsl(220, 9%, 44%);
  --neutral600: hsl(215, 14%, 36%);
  --neutral700: hsl(217, 19%, 27%);
  --neutral800: hsl(215, 28%, 17%);
  --neutral900: hsl(221, 39%, 11%);
  --error100: hsl(0, 93%, 94%);
  --error200: hsl(0, 96%, 89%);
  --error300: hsl(0, 94%, 82%);
  --error400: hsl(0, 91%, 71%);
  --error500: hsl(0, 84%, 60%);
  --error600: hsl(0, 72%, 51%);
  --error700: hsl(0, 74%, 42%);
  --error800: hsl(0, 70%, 35%);
  --error900: hsl(0, 63%, 31%);
  --warning100: hsl(55, 97%, 90%);
  --warning200: hsl(53, 98%, 83%);
  --warning300: hsl(50, 98%, 75%);
  --warning400: hsl(48, 96%, 53%);
  --warning500: hsl(45, 93%, 47%);
  --warning600: hsl(41, 96%, 40%);
  --warning700: hsl(35, 92%, 33%);
  --warning800: hsl(32, 81%, 29%);
  --warning900: hsl(28, 73%, 26%);
  --success100: hsl(100, 89%, 89%);
  --success200: hsl(101, 88%, 80%);
  --success300: hsl(102, 85%, 67%);
  --success400: hsl(103, 78%, 55%);
  --success500: hsl(104, 81%, 44%);
  --success600: hsl(105, 85%, 35%);
  --success700: hsl(106, 78%, 27%);
  --success800: hsl(107, 69%, 23%);
  --success900: hsl(108, 61%, 20%);
  --primary100: hsl(185, 96%, 94%);
  --primary200: hsl(186, 94%, 88%);
  --primary300: hsl(187, 92%, 75%);
  --primary400: hsl(188, 86%, 53%);
  --primary500: hsl(189, 94%, 43%);
  --primary600: hsl(190, 91%, 36%);
  --primary700: hsl(191, 82%, 31%);
  --primary800: hsl(192, 70%, 27%);
  --primary900: hsl(193, 64%, 24%);

  --text-clr: var(--neutral800);
  --text-clr-alt: var(--neutral600);
  --text-clr-inverted: var(--neutral50);
  --border-clr-primary: var(--neutral400);
  --border: 1px solid var(--border-clr-primary);
  --input-border-clr: var(--neutral500);
  --outline-clr-primary: var(--neutral600);
  --outline: 2px solid var(--outline-clr-primary);
  --input-outline: 1px solid var(--outline-clr-primary);
  --radius: 5px;
}
