.navbar-storybook-link svg,
.navbar-github-link svg {
  height: 35px;
  width: 35px;
}

.navbar-storybook-link svg path {
  fill: #fff;
  transition: fill 0.3s ease;
}

.navbar-storybook-link:hover svg path {
  fill: #ff4785 !important;
}

.navbar-github-link svg path {
  fill: #fff;
  transition: fill 0.3s ease;
}

.navbar-github-link:hover svg path {
  fill: #4078c0 !important;
}
