@import "../../defines.scss";

.aj-menu {
  position: relative;
  display: inline-block;
  color: var(--text-clr);

  & > button {
    &[aria-expanded="true"] + .aj-menu__dropdown {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    background-color: var(--white);
    padding: 4px 0;
    z-index: 100;
    opacity: 0;
    transform: scaleY(0.9);
    transform-origin: top;
    transition: transform 200ms ease, opacity 200ms;

    &.drop-right {
      right: initial;
      left: 0;
    }
  }

  &__option {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    gap: 8px;
    padding: 6px 24px 6px 16px;
    min-height: 32px;
    @include regular;
    line-height: 1;
    color: var(--option-text-clr, inherit);
    font-size: 1.6rem;
    white-space: nowrap;
    background-color: var(--option-bg-clr);

    --option-icon-clr: var(--gray7);
    i {
      font-size: 1.8rem;
      color: var(--option-icon-clr);
    }

    &:hover {
      --option-bg-clr: var(--grayF);
      cursor: pointer;
    }
    &:active {
      --option-bg-clr: var(--grayE);
    }
    &.is-focused {
      --option-bg-clr: var(--clr-primary);
      --option-text-clr: var(--text-clr-inverted);
      --option-icon-clr: var(--text-clr-inverted);
      --option-selected-clr: var(--text-clr-inverted);
    }
  }
}
