@use "../../defines" as *;

.aj-radio-group {
  --radio-spacing: 12px;

  padding: 0;
  border: none;

  & > .aj-label {
    padding-bottom: var(--radio-spacing);
  }

  .aj-radio + .aj-radio {
    margin-top: var(--radio-spacing);
  }
}
