@use "../common.scss";

.aje-banner {
  &--upgrade {
    --banner-bg-clr: var(--primary100);
    --banner-text-clr: var(--text-clr);
    --banner-icon-clr: var(--primary700);
    @extend .aje-banner;
  }
}
