@use "../mixins";

.aj-banner {
  --banner-bg-clr: var(--neutral100);
  --banner-text-clr: var(--text-clr);
  --banner-icon-clr: var(--primary700);
  --banner-btn-hover-clr: var(--neutral200);
  --banner-btn-active-clr: var(--neutral300);

  border-radius: 5px;
  background-color: var(--banner-bg-clr);
  padding: 4px;
  margin-bottom: 4px;
  @include mixins.bold;
  font-size: 1.4rem;
  color: var(--banner-text-clr);
  display: flex;
  align-items: flex-start;
  gap: 4px;

  & > i {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    color: var(--banner-icon-clr);
  }

  &__main {
    flex: 1;
    padding: 10px 0;
    line-height: 1.4;
  }

  &__dismiss {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 2.4rem;
    color: var(--banner-text-clr);
    display: grid;
    place-items: center;
    transition: background 100ms ease;

    i {
      transition: color 100ms ease;
    }

    &:hover {
      color: var(--banner-text-clr);
      background-color: var(--banner-btn-hover-clr);
      cursor: pointer;
    }
    &:active {
      background-color: var(--banner-btn-active-clr);
    }
    &:focus-visible {
      outline: var(--outline);
      outline-offset: 2px;
    }
  }
}
