@use "../mixins";

.aje-dropdown {
  /* Dropdown variables */
  --dropdown-border-radius: var(--radius);
  --dropdown-border: 1px solid var(--input-border-clr);
  --dropdown-height: 40px;
  --dropdown-input-height: calc(var(--dropdown-height) - 2px);
  --dropdown-padding: 6px;
  --dropdown-padding-left: calc(var(--dropdown-padding) * 2);
  --dropdown-padding-right: var(--dropdown-height);
  --dropdown-text-clr: var(--text-clr);
  --dropdown-text-size: 1.6rem;
  --dropdown-icon-size: 2.4rem;
  --dropdown-icon-gap: calc(
    (var(--dropdown-height) - var(--dropdown-icon-size)) / 2
  );
  --dropdown-icon-clr: var(--neutral600);

  /* Menu variables */
  --menu-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  --menu-bg-clr: var(--neutral50);
  --menu-border-radius: var(--radius);
  --menu-max-height: 300px;
  --menu-padding-top: calc(var(--option-height) / 8);

  /* Option variables */
  --option-font-size: var(--dropdown-text-size);
  --option-icon-size: var(--dropdown-icon-size);
  --option-height: 32px;
  --option-bg-clr: none;
  --option-text-clr: inherit;
  --option-icon-clr: var(--neutral600);
  --option-selected-clr: var(--text-clr-inverted);
  --option-padding: var(--dropdown-padding);
  --option-padding-horizontal: calc(var(--dropdown-padding) * 2);
  --option-icon-gap: 8px;

  .aje-combobox {
    position: relative;
    max-width: var(--combobox-width, auto);
    color: var(--text-clr);

    &__input {
      position: relative;
      border: var(--dropdown-border);
      border-radius: var(--dropdown-border-radius);
      height: var(--dropdown-height);
      padding: var(--dropdown-padding) var(--dropdown-padding-right)
        var(--dropdown-padding) var(--dropdown-padding-left);
      @include mixins.regular;
      color: var(--dropdown-text-clr);
      font-size: var(--dropdown-text-size);
      line-height: 1.5;
      color: inherit;
      display: inline-flex;
      align-items: center;
      width: 100%;
      cursor: pointer;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      input {
        border: none;
        min-height: var(--dropdown-input-height);
        padding: 0 var(--dropdown-padding-right) 0 var(--dropdown-padding-left);
        @include mixins.regular;
        color: inherit;
        font-size: inherit;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      &::after {
        content: "\E5C5";
        font-family: "Material Icons";
        position: absolute;
        right: var(--dropdown-icon-gap);
        top: var(--dropdown-icon-gap);
        font-size: var(--dropdown-icon-size);
        line-height: 1;
        color: var(--dropdown-icon-clr);
        pointer-events: none;
      }

      &:focus,
      &:focus-within {
        outline: var(--input-outline);
        border-color: var(--outline-clr-primary);
      }

      &[aria-expanded="true"] + .aje-combobox__menu {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
      }

      &.is-searchable {
        padding: 0;
        overflow: hidden;

        &::after {
          content: "\e8b6";
        }
      }
    }

    &__menu {
      visibility: hidden;
      overflow-y: auto;
      max-height: var(--menu-max-height);
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: var(--menu-border-radius);
      box-shadow: var(--menu-box-shadow);
      min-width: 100%;
      background-color: var(--menu-bg-clr);
      padding: var(--menu-padding-top) 0;
      margin: 0;
      z-index: 100;
      opacity: 0;
      transform: scaleY(0.9);
      transform-origin: top;
      transition: transform 200ms ease, opacity 200ms;
    }

    &__option {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--option-icon-gap);
      padding: var(--option-padding) var(--option-padding-horizontal);
      min-height: var(--option-height);
      @include mixins.regular;
      line-height: 1;
      color: var(--option-text-clr);
      font-size: var(--option-font-size);
      background-color: var(--option-bg-clr);

      i {
        font-size: var(--option-icon-size);
        color: var(--option-icon-clr);
      }

      &::after {
        content: "";
        position: absolute;
        right: var(--option-padding-horizontal);
        top: 50%;
        transform: translateY(-50%);
        font-family: "Material Icons";
        font-size: var(--option-icon-size);
        color: var(--option-selected-clr);
      }

      &:hover {
        --option-bg-clr: var(--neutral100);
        cursor: pointer;
      }
      &:active {
        --option-bg-clr: var(--neutral200);
      }
      &[aria-selected="true"] {
        --option-selected-clr: var(--primary700);
        padding-right: calc(
          var(--option-icon-size) + var(--option-padding-horizontal) +
            var(--option-padding)
        );

        &::after {
          content: "\e5ca";
        }
      }
      &.is-focused {
        --option-bg-clr: var(--primary700);
        --option-text-clr: var(--text-clr-inverted);
        --option-icon-clr: var(--text-clr-inverted);
        --option-selected-clr: var(--text-clr-inverted);
      }
    }
  }

  &.is-small {
    --combobox-width: 100px;
  }
  &.is-medium {
    --combobox-width: 200px;
  }
  &.is-large {
    --combobox-width: 300px;
  }
  &.is-full {
    --combobox-width: 100%;
  }
  &.is-auto {
    --combobox-width: none;
    .aje-combobox {
      display: inline-block;
    }
    .aje-combobox__input {
      width: auto;
    }
  }

  &.has-error {
    .aje-combobox__input {
      border-color: var(--error700);

      &:focus {
        outline-color: var(--error700);
      }
    }
  }

  &.is-disabled {
    opacity: 0.5;
  }
}
